.days > tbody 
{
    width: 300px;
    height: 100px;
}

.days > thead th
{
    width: 200px;
    height: 30px;
    font-weight: bold;
    text-align: center;
}

.days > tbody > tr > td:first-child 
{
    color: rgb(247, 26, 26);
}
  
.days td 
{   
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    padding: 10px;
    border: 1px solid black;
    padding: 10px;
}

.month
{
    font-size: 50px;
    font-weight: bold;
}
  
.holiday
{
    color: rgb(247, 26, 26);
}

.today
{
    background-color: blue;
}

.days 
{
    border-collapse: collapse;
}
  
.days td:hover
{
    background-color: aqua;
}