#wrap
{
    width: 1200px;
    /* height: 900px; */
    /* background-color: darkgrey; */
    /* 위두개 코드를 쓴 이유는 그냥 윤곽을 잡으려고 쓴거다. */
    margin: 0 auto;
    /* 무조건 가장 밖에잇는 레이아웃에만 마진을쓰자 */
}

header
{
    height: 100px;
    background-color: chartreuse;
}

.main-menu
{
    height: 50px;
    background-color: chocolate;
}


.main-contents > .contents
{
    width: 900px;

}

.contents > .contents1
{
    height: 250px;
    background-color: rgb(140, 31, 31);
}

.contents > .contents2
{
    height: 250px;
    background-color: cornflowerblue;
}

.main-contents > .sub-contents
{
    width: 300px;
    height: 500px;
    background-color: forestgreen;
}

footer
{
    height: 70px;
    background-color: hotpink;
}

.flex-row
{
    display: flex;
}

