<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>사각형4개 배치</title>
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <h3>달라붙기</h3>
        <div class = "flex-row">
            <div class = "box1"></div>
            <div class = "box2"></div>
        </div>
        <div class = "flex-row">
            <div class = "box3"></div>
            <div class = "box4"></div>
        </div>
        
        <h4>여백나누기</h4>
        <div class = "flex-row margin-bottom">
            <div class = "box1 margin-right"></div>
            <div class = "box2 "></div>
        </div>
        <div class = "flex-row">
            <div class = "box3 margin-right"></div>
            <div class = "box4"></div>
        </div>
        <!-- 위에 디비젼에 공백을 넣어주면 한줄에잇는 디비젼이 한거번에 밀리기때문에
        한번만 밀어줘도 옆에잇는 도형이 같이 움직인다.  -->


        <h4>나눠진 여백 가운대로 몰기</h4>
        <div class = "flex-row box-align">
            <div>
                <div class = "flex-row margin-bottom">
                    <div class = "box1 margin-right"></div>
                    <div class = "box2 "></div>
                </div>
                <div class = "flex-row">
                    <div class = "box3 margin-right"></div>
                    <div class = "box4"></div>
                </div>
            </div>
        </div>
        <!-- 1.box-align만쓰면 왜 안되는지
        2.우선순위
        3. 답 설명 -->
    </body>
</html>