#wrap
{

    width: 1200px;
    /* 기본값은 왼쪽 */
    /* margin: 0 auto; 는 오른쪽정렬 */
}

/* header
{
    height: 200px;
    background-color: aqua;
} */

.header1
{
    width: 200px;
    height: 200px;
    background-color: blue;
}

/* header > .header1 를 하는이유는, 보기 편하기위함도있지만, 만약에 header2를
다른 곳에서 똑같은이름으로 사용을할때 사용을 구분하기위해서도있다. 만약 두군데 다
사용을할거면 상관없는데, 똑같은 이름을 가진 두군데에서 한군데만 사용하고싶으면 쓰자. */

.header2
{
    width: 1000px;
    height: 200px;
    background-color: darkcyan;
}

.flex-row
{
    display: flex;
}

section
{
    height: 700px;
    background-color: brown;
}

footer
{
    height: 100px;
    background-color: beige;
}